:root {
    --maincolor: #47688d;
    --maindarkcolor: #364f6b;
    --textcolor: #d6b640;
    --lightgold: #fce38a;
    --gold: #fdefbc;
}

body {
    height: 100vh;
}

.header {
    background-color: var(--maincolor);
    /* padding: 20px; */
    color: var(--textcolor);
    font-size: 1.5em;
    text-align: center;
    grid-template-columns: repeat(minmax(2, 3), minmax(200px, 1fr));
    grid-gap: 0;
}

.content {
    grid-gap: 1.25em;
    box-shadow: rgb(0, 0, 0, 1) 1px 4px 6px 1px, rgba(14, 30, 37, 0.6) 0px 2px 16px 0px;
    padding-bottom: 10.3rem;
}

h1 {
    justify-self: start;
    padding: 0;
}

.header {
    justify-self: end;
}

.logo {
    height: 21vh;
    -webkit-filter: drop-shadow(5px 5px 5px #492e2e);
    filter: drop-shadow(5px 5px 5px #492e2e);
}

.user-name {
    justify-self: end;
    /* margin: 30px 20px; */
    color: var(--textcolor);
    text-align: start;
    /* padding: 10px; */
}

/* cards */
.board {
    display: flex;
    width: 40rem;
    height: 40rem;
    margin: auto;
    flex-wrap: wrap;
    gap: 0;
    perspective: 1000px;
    background-color: #31445a;
    padding: .5em;
}

@media only screen and (max-width: 700px) {
    .board {
        width: 20rem;
        height: 20rem;
    }
}

.card {
    width: calc(25% - 0.625rem);
    height: calc(33.333% - 0.625rem);
    margin: .312rem;
    /* margin: auto; */
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

/* .flipped .back {
    display: none;
} */

/* Main nav */

.main-nav {
    background-color: var(--maindarkcolor);
}

.navbar-li:hover:not(.active) {
    background-color: var(--maincolor);
}

.active {
    background-color: var(--textcolor);
}

/* button */

button {
    visibility: hidden;
    background-color: var(--maindarkcolor);
    border-color: var(--textcolor);
    color: var(--textcolor);
    justify-self: center;

}

button:hover {
    background-color: transparent;
}

.timer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.125rem;
    color: var(--textcolor);
    justify-self: center;
    margin: 0.625rem;
}

.best-time {
    font-size: 1.625rem;
    justify-self: start;
}

/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
    border-radius: 5px;
    background: #56B870;
    /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56B870), color-stop(100%, #a5c956));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* IE10+ */
    background: linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red {
    border-radius: 5px;
    background: #C655BE;
    /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C655BE), color-stop(100%, #cf0404));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* IE10+ */
    background: linear-gradient(top, #C655BE 0%, #cf0404 100%);
    /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow {
    border-radius: 5px;
    background: #F3AAAA;
    /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3AAAA), color-stop(100%, #febf04));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue {
    border-radius: 5px;
    background: #27394e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #27394e 0%, #47688d 44%, #47688d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #27394e), color-stop(44%, #47688d), color-stop(100%, #47688d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #27394e 0%, #47688d 44%, #47688d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #27394e 0%, #47688d 44%, #47688d 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #27394e 0%, #47688d 44%, #47688d 100%);
    /* IE10+ */
    background: linear-gradient(top, #27394e 0%, #47688d 44%, #47688d 100%);
    /* W3C */
}

.gold {
    filter: invert(76%) sepia(60%) saturate(260%) hue-rotate(5deg) brightness(106%) contrast(98%);
}

.box-background {
    background-color: #27394e;
    opacity: 1;
    background-image: linear-gradient(135deg, #416181 25%, transparent 25%), linear-gradient(225deg, #416181 25%, transparent 25%), linear-gradient(45deg, #416181 25%, transparent 25%), linear-gradient(315deg, #416181 25%, #27394e 25%);
    background-position: 40px 0, 40px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat;
}

.cross-dots {
    background:
        radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}