html body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #010150;
}

.navbar-li {
    float: left;
}

.navbar-li .navbar-a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-li:hover:not(.active) {
    background-color: #1d1d47;
}

.active {
    background-color: #6406b1;
}

h3 {
    margin: 15px 0px;
    color: #010150;
}

.header-container {
    color: whitesmoke;
    background-color: #1d1d47;
    padding-bottom: 50px;
}

h1 {
    text-align: left;
    padding: 20px;
    border: solid;
    border-color: whitesmoke;
    transition-duration: 0.4s;
    margin-left: 50px;
    margin-right: 50px;

}

h1:hover {
    background-color: #010150;
}

.image-gallery {
    text-align: center;
}

img {
    height: 300px;
    margin: 50px;
    border: solid;
    border-color: whitesmoke;
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 whitesmoke, 0 3px 10px 0 gray;
}

img:hover {
    height: 500px;
}

.bottom-container {
    padding: 15px;
    margin-top: -50px;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title-h3 {
    margin-top: 0px;
    font-family: serif;
    padding-left: 50px;
    padding-top: 50px;
    color: whitesmoke;
}

hr {
    width: 50px;
    margin-left: 0px;
    border: solid #010150 1px;
}

.personal-background {
    font-family: serif;
    text-align: left;
    margin-left: 30px;
}

span {
    color: #6406b1;
}

.contact-container {
    width: 300px;
    text-align: center;
    font-size: smaller;
    margin: 5px;
    padding: 5px;
    border: solid;
    border-color: #010150;
    border-radius: 12px;
}

a {
    color: #6406b1;
    margin: 3px;
}

button {
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    ;
    transition-duration: 0.4s;
    cursor: pointer;
    border: solid;
}

.go-top-page-btn {
    margin: 10px 15px;
    background-color: #1d1d47;
    color: whitesmoke;
    border-color: #1d1d47;
}

.go-top-page-btn:hover {
    background-color: whitesmoke;
    color: #1d1d47;
}