body {
    background-color: whitesmoke;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-container {
    background-color: rgb(29, 29, 71);
    color: whitesmoke;
    padding-bottom: 50px;
}

.title-hello-h3 {
    font-family: serif;
    padding-left: 50px;
    padding-top: 50px;
}

h1 {
    text-align: left;
    padding: 20px;
    border: solid;
    border-color: whitesmoke;
    transition-duration: 0.4s;
    margin-left: 50px;
    margin-right: 50px;
    
}

h1:hover {
    background-color: rgb(41, 6, 73);
}

.image-gallery {
    text-align: center;
}

img {
    height: 300px;
    margin: 50px;
    border: solid;
    border-color: whitesmoke;
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 whitesmoke, 0 3px 10px 0 gray;
}

img:hover {
    height: 500px;
}

.bottom-container {
    padding: 15px;
    margin-top: -50px;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h3 {
    margin-left: 15px;
    margin-bottom: 0;
}

hr {
    width: 50px;
    margin-left: 15px;
    text-align: left;
}

.personal-background {
    font-family: serif;
    text-align: left;
    margin-left: 30px;
}

span {
    color: rgb(100, 6, 177);
}

.contact-container {
    width: 300px;
    text-align: center;
    font-size: smaller;
    margin: 5px;
    padding: 5px;
    border: solid;
    border-color: rgb(41, 6, 73);
    border-radius: 12px;
}

a {
    color: rgb(100, 6, 177);
    margin: 3px;
}

button {
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: solid;
}

.go-top-page-btn{
    margin: 10px 15px;
    background-color: rgb(29, 29, 71);
    color: whitesmoke;
    border-color: rgb(29, 29, 71);
}

.go-top-page-btn:hover {
    background-color: whitesmoke;
    color: rgb(29, 29, 71);
}